<h1> New Task </h1>
<form action="/tasks" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="Title"> Title</label>
  <input type="text" name="task[title]">
  <label for="Details"> Details</label>
  <input type="text" name="task[details]">
  <label for="Completed">Completed</label>
  <input type="checkbox" name="task[completed]">
  <input type="submit">
</form>
